$primary: SeaGreen;
$body-bg: Honeydew;

@import "~bootstrap/scss/bootstrap.scss";

.back-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;
}

.button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: royalblue;
  }
}
